/* Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600&display=swap');

/* VARIABLES CSS */
/* Header */
:root {
    --header-height: 3rem;
}
/* Colors */
:root {
    --color-first: #ea4c89;
    --color-secondary: #1D2063;
    --color-text: #fff; 
}
/* Fonts and typographies */
:root{
    --heading-font: 'Raleway';
    --body-font: 'Open Sans';
    --h1-font-size: 2rem;
    --h3-font-size: 1rem;
    --small-font-size: 0.8125rem;
}
@media screen and (min-width: 768px){ /* Maior que 768px aumente as fontes */
    :root{
        --h1-font-size: 3.5rem;
        --h3-font-size: 1.25rem;
        --small-font-size: 0.8125rem;
    }
}
/* z-index*/
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10; /* Dica */
    --z-fixed: 100;
    --z-modal: 1000;
}

/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-top: 3rem;
    color: var(--color-text);
    background-color: var(--color-secondary);
    font-size: var(--body-font);
}
ul {
    list-style: none;
}
a {
    color: var(--color-text);
    text-decoration: none;
}
h1 {
    font-size: var(--h1-font-size);
}
h3 {
    font-size: var(--h3-font-size);
    font-family: var(--heading-font);
}
img {
    max-width: 100%;
    height: auto;
}

/* Layout */
.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
    z-index: var(--z-fixed);

}


/* components */
.btn {
    display: inline-block; /* Tag a é inline, não é possivel definir algumas propriedades */
    background-color: var(--color-first);
    color: var(--color-text);
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}
.btn:hover {
    box-shadow: 2px 0 24px var(--color-first);
    transition: all ease .3s;
}

/* Pages */
.home {
    height: calc(100vh - var(--header-height));
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 767px) { /* Menu mobile */
    .nav-menu {
        position: absolute;
        top: var(--header-height); /* Pra que abra abaixo do header */
        right: -100%; /* Quando o menu for precionado ele vai para a posiçao 0 */
        width: 60%;
        height: 100vh;
        padding: 1.5rem;
        background-color: var(--color-secondary);
        z-index: var(--z-fixed);
        transition: .5s;
        border-top: 1px solid var(--color-text);
        border-left: 1px solid var(--color-text);
    }
}
.nav-item {
    margin-bottom: 1.5rem;
}
.nav-link:hover {
    border-bottom: 1px solid var(--color-text);
}
.nav-icon {
    font-size: 1.5rem;
    padding: .5rem .3rem;
}

/* Show Menu */
.show {
    right: 0;
}


/* Home */
.personal-information {
    padding-top: 2rem;
    text-align: center;
}
.personal-title {
    margin-bottom: .5rem;
    color: var(--color-first);
}
.personal-name {
    margin-bottom: 1.5rem;
    font-size: var(--h3-font-size);
    font-weight: normal;
}
.personal-social-media {
    display: flex;
    align-items: center;
    text-align: initial;
    z-index: var(--z-back);
}
.social-name { 
    writing-mode: vertical-lr; /* Vira o elemento na vertical */
    transform: rotate(180deg); /* Rotaciona 180º para que fique virado para direita */
    border-left: 1px solid var(--color-text);
    margin-right: 1rem;
    padding: 1rem .2rem;
    font-size: var(--small-font-size);
}
.social-icon {
    margin-right: 1rem;
    color: var(--color-text);
    font-size: 1.3rem;
}
.image {
    padding: 2rem;
}

/* Media Queries */
@media screen and (min-width:768px) { /* Acima de 768px */
    body{
        margin: 0;
    }
    .home {
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
    }
    .btn {
        margin-bottom: 3rem;
    }
    .nav-list {
        display: flex;
    }
    .nav-item {
        margin-bottom: 0;
        margin-left: 1.5rem;
    }
    .nav-link {
        display: block;
        padding: .5rem .3rem;
    }
    .menu-toggle {
        display: none;
    }
    .personal-information {
        padding-top: 0;
        text-align: initial;
    }
    .social-name {
        margin-right: 1.5rem;
    }
    .social-icon {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }
}
@media screen and (min-width: 1200px) { /* Acima de 1200px */
    /* Centraliza o container quando atingir seu max-width, no caso 1200px */
    .container { 
        margin-left: auto;
        margin-right: auto;
    }
}
